---
import Layout from "../layouts/Layout.astro";
import { searchByTerm } from "../services/podcast-api";

const feeds = await searchByTerm("backend banter");
---

<Layout title="Welcome to podcaster.">
  <main class="prose lg:prose-xl">
    <ul>
      {
        feeds.map((feed) => (
          <li>
            <a href={feed.url}>
              <img src={feed.image} alt="" width={100} height={100} />
              {feed.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
